@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }
    section#login{
        width: 80vw;
        height: 300px;
    }

    section#login div#foto{
        float:left;
        width: 29%;
        height: 100%;
    }

    section#login div#formulario p, h1, form{
        float: right;
        width: 70%;
    }

    div#formulario p{

        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    section#login{
        width: 950px;
        height: 310px;
    }

    section#login div#foto{
        float: right;
        width: 48%;
        height: 100%;
    }

    section#login div#formulario p, h1, form{
        float: left;
        width: 51%;
        
    }

    div#formulario p{
        font-size: 1.1em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}